@import "../../../styles/variable.scss";

.dashboard-container {
 @include text-center;
  .container {
    padding: 4em;
    background: burlywood;
    width: 50%;
    margin: auto;
    border-radius: 8px;
    margin-bottom: 1em;
    transition: box-shadow 0.3s ease;
     
    a {
      text-decoration: none;
      color: white;
    }
  }
  .container:hover{
    box-shadow: 1px 1px 14px 1px rgba(0, 0, 0, 0.3); 
  }
}
.add-category{
      padding: 4em;
      background: $background-color;
      width: 30%;
      margin: 2em auto;
      border-radius: 1em;
      legend{
       @include text-center;
        font-size: larger;
      }
      div{
        display: flex;
        flex-direction: column;
       @include text-center;
      }
      button{
        padding: 7px;
        border-radius: 6px;
        border: none;
        margin: 1em;
        width: 50%;
        margin: 1em auto;
        background: $green-btn-color;
      }
}
.articles-list-container, .category-list-container {
 @include text-center;
 
// *********************** MODIFY CATEGORIES AND ARTICLES *******************/
  .articles-list,.category-list {
    list-style: none;
    padding: 0;
    
    li {
      margin: 10px;
      
      button{
        border: none;
        padding: 1em;
        border-radius: 5px;
        background-color: $background-color;
      }
    }
    .list{
      border: none;
      padding: 1em;
      border-radius: 5px;
      background-color: $background-color;
      margin: 1em auto;
      width: 30%;
    }
  }
  div {
    select{
      border: solid 1Px $background-color;
    padding: 1em;
    border-radius: 6px;
    }
    .description {
      display: flex;
      flex-direction: column;
     @include text-center;
      textarea {
        width: 80%;
        margin: auto;
        height: 100px;
        border-radius: 5px;
        border: solid 1px $background-color;
      }
    }
    button {
      padding: 1em;
      margin: 10px;
      border: none;
      border-radius: 5px;
      background: $green-btn-color;
    }
    .delete-btn {
      background-color: $red-btn-color;
    }
  }
  input{
    padding: 7px;
    border-radius: 6px;
    border: solid 1px $background-color;
  }
}
.NewArticle-container {
  background: $background-color;
  width: 80%;
  margin: 3em auto;
  padding: 1em;
  border-radius: 7px;
  box-shadow: 1px 1Px 6Px 1Px;
 @include text-center;
  form {
    flex-direction: column;
    display: inline-flex;
    button{
      padding: 1em;
      margin: 1em;
      border: none;
      background: $green-btn-color;
      border-radius: 7px;
    }
  }
}
.stats-container{
  h1{
   @include text-center;
  }
}
