@import "variable";


@import url("../views/admin/style/admin.scss");
@import url("../components/styles/cartbutton.scss");
@import url("../views/user/style/user.scss");
@import url("./tabletteStyles.scss");
@import url("./desktopStyles.scss");



@font-face {
  font-family: 'dubai'; 
  src: url('../assets/fonts/Dubai\ Dubstep.ttf') format('truetype'); 
}



body {
  margin: 0;
  h1, h2{
    font-family: "dubai" ,sans-serif;
  }
}
header,
footer {
  background: rgb(255 193 7 / 55%);
  padding: 2em;
  box-shadow:  2Px 0Px 9Px -2Px;
}

//************************ HEADER *************************/
.header-logo {
  width: 100%;
}
header {
  .menu-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    button {
      padding: 1em 6em;
      border: none;
      border-radius: 6px;
      box-shadow: 1px 1px 7Px 1Px;
      z-index: 1;
    }
    nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: $background-color;
      border-radius: 0px 0px 5px 5px;
      margin-top: -3px;
      a {
        @include link-styles;
        padding: 0.5em;
      }
    }
  }
}
//************************ FOOTER *************************/
footer {
  @include text-center;
  .footer-logo {
    width: 30%;
  }
  .social-media-links {
    display: flex;
    margin: 2em;
    justify-content: space-evenly;
    a{
      text-decoration: none;
      color:orange;
    }
    // facebook RGB : (23, 169, 253)
    // twitter #1DA1F2
    // instagram #C32AA3
  }
  .terms-privacy{
    a {
     
      margin: 1em;
      @include link-styles;
    }
  }
}
//************************ HOME *************************/
.Home-container{
  img{
    max-width: 100%;
  }
}

//************************ ARTICLES *************************/
.articles {
  h1 {
    @include text-center;
  }
  input {
    margin: auto;
    display: flex;
    width: 90%;
    padding: 10px;
    border-radius: 10px;
  }
  ul {
    list-style: none;
    @include text-center;
    padding: 0px;
    li {
      background: rgb(255 193 7 / 32%);
      img {
        width: 90%;
        height: 454.72px;
        margin: 4%;
        border-radius: 5px 5px 5px 5px;
      }
      div {
        .product-name{
          font-weight: bold;
        }
        .product-description{
          margin: 1em;
          max-height: 50px;
        }
        .price {
          padding: 1em;
        }
      }
    }
    button {
      @include button-styles;
      background: $background-color;
     
    }
  }
}

/******************* MODAL *****************/
/*******************************************/
.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.cart-container {
  width: 90%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  .cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    button {
      @include button-styles;
      background: $background-color;
      
    }
  }
  .cart-items {
    display: grid;
    gap: 20px;
    overflow-y: auto;
    max-height: 400px;
    .cart-item {
      display: flex;
      align-items: center;
      gap: 10px;
      img {
        width: 30%;
      }
      div {
        .delete-btn {
          @include button-styles;
          background: $red-btn-color;
         
        }
      }
    }
  }
  .cart-total {
    .payment-btn {
      @include button-styles;
     
      background: $green-btn-color;
      
    }
  }
}

/****************** Register ************/
/*******************************************/

.confirmation-slide {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-80%);
  background-color: green;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  animation: slideIn 0.5s ease-in-out forwards;
}


@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

/****************** Login *************/
/******************************************/

.container-connexion {
  padding: 2em;
  background: $background-color;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4em;
  box-shadow: 0Px 1Px 3Px 0Px;
  form {
    display: flex;
    flex-direction: column;
    label {
      display: flex;
      flex-direction: column;
      @include text-center;
    }
    div {
      display: flex;
      flex-direction: column;
      label {
        display: flex;
        flex-direction: column;
        @include text-center;
      }
    }
    button {
      margin: 1em;
      @include button-styles;
    }
  }
  .confirmation-slide {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: green;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    animation: slideIn 0.5s ease-in-out forwards;
  }

  @keyframes slideIn {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
}
/****************** Terms/Privacy *************/
/******************************************/
.terms-container{

    width: 75%;
    margin: 3em auto;
    background: $background-color;
    padding: 1em;
    border-radius: 7px;
    box-shadow: 1px 1px 8Px 1Px;
  h2{
    @include text-center;
  }

}

/****************** Not Found ****************
***********************************************/
.notfound{
  @include text-center;
  margin: 6em;
}