@import "variable";
/**************** header ********************/

@media screen and (min-width: 780px) {
  header {
    display: flex;
    justify-content: space-around;
    .header-logo {
      width: 30%;
    }
  }
  footer{
    .footer-logo{
      width: 15% !important;
    }
  }
}
/************** Home *******************/

@media screen and (min-width: 780px) {
  .Home-container {
    max-width: 95%;
    margin: auto;

    h2 {
      @include text-center
    }
    .containers {
      overflow: hidden;
      h3 {
        @include text-center
      }
      img {
        margin: 1em;
        max-width: 50%;
      }
      .right {
        float: right;
      }
      .left {
        float: left;
      }
    }
  }
}

/************** articles *******************/

@media screen and (min-width: 780px) {
  .articles {
    @include flex-container-wrap;
    h1 {
      flex: 1 0 100%;
    }
    ul {
      display: contents;
      li {
        width: 47%;
        margin: 10px;
      }
    }
  }
  .articles-list-container {
    .articles-list {
     @include flex-container-wrap
    }
  }

  
}

/*********** dasboard *********************/

@media screen and (min-width: 780px) {
  .dashboard-container {
    @include flex-container-wrap;
    h1 {
      flex: 1 0 100%;
    }
    .container {
      width: 36%;
    }
  }
  .NewArticle-container {
    width: 35%;
}
}
